body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user {
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  column-gap: 3rem;
}
.face-container {
    align-items: stretch;
}
.face {
  border-radius: 1rem;
  width : 200px;
  height: 200px;
}
.details {
    padding: 2rem;
    column-gap: 2rem;
    display: flex;
    border: 1px solid black;
    border-radius: 1rem;
}

.details h3 {
    margin: 0%;
    padding: 0%;
    align-self: flex-end;
}

